<div id="posts">
  <div class="container">
    <%= avatar(current_user) %> Hi, <%= current_user.name %>. Create <%= link_to 'New Post', new_post_path %>
  </div>
</div>
<h2 class="text-center">Your Posts Feed</h2>
<div class="container">
  <% @posts.each do |post| %>
  <div class="row">
    <h4><%= image_tag(post.author.avatar.url(:thumb), class: "img-circle feed-avatar") %> <%= post.author.name %></h4>
    <p><%= post.body %></p>
  </div>
  <% end %>
</div>

<div class="text-center">
    <%= will_paginate %>
</div>
